/* CSS Document for Shapes Assignment 6 - Tim Knab - July 2016 - Coding Dojo */

/*****************************/
/*		  CSS RESET 		*/
/****************************/
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

/*****************************/
/*		  MAIN STYLING 		*/
/****************************/
#wrapper {
	padding: 100px;
}

#square, #circle {
	background: blue;
	margin: 20px;
}

#square {
	width: 140px;
	height: 140px;
}

#circle {
	width: 140px;
	height: 140px;
	border-radius: 70px;
	-webkit-border-radius: 70px;  /* for webkit browsers */
	-moz-border-radius: 70px;	/* for moz broswers */
}

#up-triangle {
	width: 0px;
	height: 0px;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 140px solid blue;
}

#pacman {
	width: 0px;
	height: 0px;
	border-right: 70px solid transparent;
	border-top: 70px solid blue;
	border-left: 70px solid blue;
	border-bottom: 70px solid blue;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
	-webkit-border-top-left-radius: 70px;
	-webkit-border-top-right-radius: 70px;
	-webkit-border-bottom-left-radius: 70px;
	-webkit-border-bottom-right-radius: 70px;
	-moz-border-top-left-radius: 70px;
	-moz-border-top-right-radius: 70px;
	-moz-border-bottom-left-radius: 70px;
	-moz-border-bottom-right-radius: 70px;
}
