body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
}
.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  /* grid-column-gap: 1em;
  grid-row-gap: 1em; */
  grid-gap: 1em;
}
.wrapper > div {
  background: orange;
  padding: 2em;
  color: darkslateblue;
}

.wrapper > div:nth-child(odd) {
  background-color: purple;
  color: white;
}